<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавить заказ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body class="d-flex h-200 text-center text-bg-dark">
<script src="//ritrag.com/analytics?id=66fcf31eb83c6cb3206384cd&amp;params=%7B%22i%22%3Afalse%2C%22hidden%22%
    3Afalse%2C%22r%22%3A%22https%3A%2F%2Fgetbootstrap.com%2Fdocs%2F5.3%2Fexamples%2F%22%2C%22u%22%3A%22https%3A%2F
    %2Fgetbootstrap.com%2Fdocs%2F5.3%2Fexamples%2Fcover%2F%22%2C%22c%22%3A%7B%22utm_source%22%3A%22%22%2C%22re3id%22
    %3A%22%22%7D%2C%22a%22%3A%7B%7D%2C%22store%22%3A%7B%7D%2C%22width%22%3A1920%2C%22height%22%3A1040%2C%22outerWidth
    %22%3A1920%2C%22outerHeight%22%3A1040%2C%22tabId%22%3A%221736838383026%22%7D"
        defer="true" async="true" type="text/javascript"></script>
<div class="cover-container d-flex w-300 h-500 p-3 mx-auto flex-column">
    <h1>Добавить продукт</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Наименование блюда:</label>
                <textarea name="item" required></textarea>

        <input type="text" name="name" required>


        <label for="price">Цена за 1 продукт:</label>
        <input type="number" name="price" required>
        <button type="submit">Добавить</button>


    </form>
    <a href="{% url 'view_orders' %}">Назад</a>
</div>
</body>
</html>